<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
  </head>
  <body class="grid items-center justify-center min-h-100">
    <main class="max-w-lg p-4 mx-auto prose text-center border-2 rounded-md">
      {{{body}}}
    </main>
  </body>
</html>
