<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
  </head>
  <body class="grid min-h-100 justify-center items-center">
    <main class="text-center prose mx-auto max-w-lg border-2 rounded-md p-4">
      {{{body}}}
    </main>
  </body>
</html>